$violet : #9B51E0;
$black: #4F4F4F;
$footer: #3E3C3C;
$nameRoomColor: #FF3300;
$green: #69e638;
$yello: #d0f30d;
$Roboto:'Roboto', sans-serif;
$price: 'Caveat', cursive;
$Price: 'Dancing Script', cursive;
$Nunito:  'Nunito', sans-serif;