@import "./variable";
@import "./reset";
@import "./button";
@import "./input";
@import "./_text_title";
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	
}

.content{
	display: flex;
	gap: 40px;
}

.form__menu{
	width: 500px;
	
}
.display--none{
	display: none;
}

@media(min-width: 1025px){
	.title {
		color: #fff;
		background-color: #2db864;
		padding: 20px 30px;
		font-size: 25px;
	}
	.admin__menu{
		height: 700px;
		background: $green;
	}
	.form__room--manager{
		display: flex;
		gap: 40px;
	}
	img{
		width: 250px;
		height: 200px;
	}
	.menu__item{
		padding: 20px 30px;
		font-size: 17px;
		color: #fff;
	}
	.menu__item:hover{
		background: #1796c8;
		color: #25df15;
		cursor: pointer;
	}
	.btn{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.add__room{
		width: 500px;
		margin: 30px 40px;
	}
	.update__room{
		width: 500px;
		margin: 30px 40px;
	}
	.input__item{
		width: 100%;
		margin-bottom: 30px;
		font-size: 15px;
	}

	.room__item{
		width: 500px;
		margin-top: 40px;
		padding: 20px 16px;
	}

	.btn__update{
		color: #25df15;
		background: #fff;
	}

	.btn__delete{
		color: #ed0606;
		background: #fff;
	}

	
}

@media(max-width: 1025px) and (min-width: 768px){
	.form__room--manager{
		gap: 20px;
		display: flex;
	}
	.title {
		color: #fff;
		background-color: #2db864;
		padding: 20px 30px;
		font-size: 25px;
	}
	.admin__menu{
		height: 700px;
		background: $green;
	}
	.menu__item{
		padding: 20px 30px;
		font-size: 17px;
		color: #fff;
	}
	.menu__item:hover{
		background: #1796c8;
		color: #25df15;
	}
	img{
		width: 200px;
		height: 150px;
	}
	.btn{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.add__room{
		width: 500px;
		margin: 30px 40px;
	}
	.input__item{
		width: 100%;
		margin-bottom: 30px;
		font-size: 15px;
	}

	.room__item{
		width: 500px;
		margin-top: 20px;
		padding: 16px 8px;
	}

	.btn__update{
		color: #25df15;
		background: #fff;
	}

	.btn__delete{
		color: #ed0606;
		background: #fff;
	}

}


@media(max-width: 600px){
	.form__room--manager{
		display: flex;
		gap: 20px;
	}
	img{
		width: 150px;
		height: 100px;
	}
	.title {
		color: #fff;
		background-color: #2db864;
		padding: 20px 30px;
		font-size: 25px;
	}
	.admin__menu{
		height: 700px;
		background: $green;
	}
	.menu__item{
		padding: 20px 30px;
		font-size: 17px;
		color: #fff;
	}
	.menu__item:hover{
		background: #1796c8;
		color: #25df15;
	}
	.btn{
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	.add__room{
		width: 500px;
		margin: 30px 40px;
	}
	.input__item{
		width: 100%;
		margin-bottom: 30px;
		font-size: 15px;
	}

	.room__item{
		width: 300px;
		margin-top: 20px;
		padding: 16px 8px;
	}

	.btn__update{
		color: #25df15;
		background: #fff;
	}

	.btn__delete{
		color: #ed0606;
		background: #fff;
	}

}
