<div class="bkg--header">
   <div class="bkg__title--header">
    <h1 class="bkg_title--text"><%= title %></h1>
    <% if(getButton) {%>
        <button class="reserve btn" >
            <a href="/room">Đặt phòng ngay</a>
        </button>
        <% } %>
   </div>
</div>