<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/sass/booking_room.css">
  <title>Hotel Lunar</title>
  <link rel="icon" type="image/x-icon" href="../img/logo.png">
</head>
<body>
  <div class="content">
    <div class="room__detail">
      <div class="image-container">
        <img src="../../img/bedddd33 1.png" alt="Image 1" class="active">
      </div>
    </div>
    <div class="form__booking--room">
      <form action="/reservation/<%= id  %>" method="post">
        <div class="col-1-4 col-1-4-sm">
          <div class="controls">
            <input type="datetime-local" id="arrive" class="floatLabel" name="checkInDate">
            <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Ngày đến</label>
          </div>      
        </div>
        <div class="col-1-4 col-1-4-sm">
          <div class="controls">
            <input type="datetime-local" id="depart" class="floatLabel" name="checkOutDate" value="<?php echo date('d-m-Y'); ?>" />
            <label for="depart" class="label-date"><i class="fa fa-calendar"></i>&nbsp;&nbsp;Ngày đi</label>
          </div>  
          <h1>Chọn số người</h1>
          <select class="floatLabel" name="people">
            <!-- <option value="blank"></option> -->
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          <button class="btn__booking--room" type="submit">
            Đặt phòng
          </button>
      </form>
    </div>
  </div>
</body>
</html>

<!-- =============================================================================
    
    Title: Simple Hotel booking form
    Description: Simple Clean form for booking a room
    Nerds name: Andi
    Site: http://andi.io
    Twitter: @gitmash
    Location: Zurich, Switzerland 

    ==== THANKS ==== 

    Forked from @soulrider911 https://codepen.io/soulrider911/pen/ugnyl/
    font: Lato (google font)
    Icon font:   http://fontawesome.io/icons/

    ==== @TODO ====

    Make <select> easier to select

========================================================================== -->

