<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/sass/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <title>Hotel Lunar</title>
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
</head>

<body>
    <header>
        <%- include("header") %>
        <script>
            const items = document.querySelectorAll('.menu__item');
            items.forEach(item => {
            item.addEventListener('click', () => {
            items.forEach(otherItem => otherItem.classList.remove('active'));
            item.classList.add('active');
          });
        });
        </script>
    </header>
    <div class="content">
        <h1 class="content__title--contact text--title">Chúng tôi rất mong muốn được nghe phản hồi của bạn. Vui lòng gửi thư cho chúng tôi</h1>
        <div class="contact__input">
            <input type="text" class="input__yourName--contact"  type="text" placeholder="Nhập tên của bạn...">
            <input type="text" class="input__yourEmail--contact" type="text" placeholder="Nhập email của bạn...">
            <input type="text" class="input__yourMessage--contact" type="text" placeholder="Nhập phản hồi của bạn...">
            <button class="btn-senMessage">Send message</button>
        </div>
        <ul class="contact--item">
            <li class="contact__item"><i class="fa-solid fa-phone"></i><p class="contact__item--text">0123456</p></li>
            <li class="contact__item"><i class="fa-solid fa-envelope"></i><p class="contact__item--text">hotellunar@gmail.co</p></li>
            <li class="contact__item"><i class="fa-solid fa-location-dot"></i><p class="contact__item--text">Đường Z115, phường Tân Thịnh, Thành phố Thái Nguyên</p></li>
        </ul>
    </div>
    <footer>
        <%- include("footer") %>
    </footer>
</body>


</html>