<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/sass/facilities.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Lobster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>Hotel Lunar</title>
    <link rel="icon" type="image/x-icon" href="../img/logo.png">
</head>

<body>
    <header>
        <%- include("header") %>
        <script>
            const items = document.querySelectorAll('.menu__item');
            items.forEach(item => {
            item.addEventListener('click', () => {
            items.forEach(otherItem => otherItem.classList.remove('active'));
            item.classList.add('active');
          });
        });
        </script>
    </header>
    <div class="content">
       <div class="facilities--list list__item">
        <div class="facilities__item">
            <img src="../img/swimming-pool-design-and-construction 1.png" alt="" class="img__item">
            <p class="facilities__description--title title__item">Swimming Pool</p>
        </div>
        <div class="facilities__item">
            <img src="../img/gym 1.png" alt="" class="img__item">
            <p class="facilities__description--title title__item">Gym</p>
        </div>
        <div class="facilities__item">
            <img src="../img/barr 1.png" alt="" class="img__item">
            <p class="facilities__description--title title__item">Resturants & Bar</p>
        </div>
        <div class="facilities__item">
            <img src="../img/spa 1.png" alt="" class="img__item">
            <p class="facilities__description--title title__item">Spa & Jaccuzi</p>
        </div>
        <div class="facilities__item">
            <img src="../img/conference room 1.png" alt="" class="img__item">
            <p class="facilities__description--title title__item">Conference Room</p>
        </div>
        <div class="facilities__item">
            <img src="../img/parking garage 1.png" alt="" class="img__item">
            <p class="facilities__description--title title__item">Packing Garage</p>
        </div>
       </div>
       <!-- <div class="list--room">
       </div> -->
       
       <div class="facilities__description">
        <div class="description__item description__text">
            <p class="description__title">Chúng tôi cung cấp các dịch vụ:</p>
            <p>Dịch vụ thư viện</p>
            <p>Wifi miễm phí</p>
            <p>Dịch vụ an ninh đầy uy tín</p>
            <p>Dịch vụ dọn phòng</p>
        </div>
        <div class="description__item description__text">
            <p>Bữa ăn ngon</p>
            <p>Làm mát không khí trong tất cả các phòng</p>
            <p>Dịch vụ phòng</p>
            <p>Đặt vé phòng</p>
        </div>
        <div class="description__item description__text">
            <p>Dịch vụ thanh toán nhanh chóng</p>
            <p>Đồ dùng cần thiết cho trẻ sơ sinh và trẻ nhỏ</p>
            <p>Không gian thoải mái tiện nghi</p>
        </div>
       </div>
    </div>
    
    <footer>
        <%- include("footer") %>
    </footer>
</body>


</html>