<div class="footer">
    <div class="footer--contacts">
        <h1 class="footer__title">
            Hotel Lunar
        </h1>
        <p>Chúng tôi sẽ cung cấp cho bạn sự thoải mái mà bạn xứng đáng</p>
        <ul class="footer__contacts">
            <li class="footer__contacts--item"><i class="fa-sharp fa-solid fa-location-dot"></i>Địa chỉ:  Đường Z115, phường Tân Thịnh, Thành phố Thái Nguyên</li>
            <li class="footer__contacts--item"><i class="fa-solid fa-phone"></i> SĐT:  012345678</li>
            <li class="footer__contacts--item"><i class="fa-solid fa-envelope"></i> Email:  hotellunar@gmail.com</li>
        </ul>
    </div>
    <div class="footer--item">
        <ul class="footer__item">
            <li class="item--text">Giới thiệu</li>
            <li class="item--text">liên hệ</li>
            <li class="item--text">Xem phòng và đặt phòng</li>
            <li class="item--text">Giải trí</li>
        </ul>
    </div>
    <div class="footer--support">
        <ul class="footer__support">
            <li class="support--item"><i class="fa-brands fa-facebook"></i> facebook</li>
            <li class="support--item"><i class="fa-brands fa-square-snapchat"></i> snapchat</li>
            <li class="support--item"><i class="fa-brands fa-instagram"></i> INSTAGRAM</li>
            <li class="support--item"><i class="fa-brands fa-twitter"></i> TWITTER</li>
        </ul>
    </div>
</div>