<div class="navbar">
    <h1 class="navbar--logo">Hotel Lunar</h1>
    <ul class="navbar--menu">
        <li class="menu__item"><a href="/api-hotel/home">Trang chủ</a></li>
        <li class="menu__item"><a href="/api-hotel/room">Phòng khách sạn</a></li>
        <li class="menu__item"><a href="/api-hotel/facilities">Khu giải trí</a></li>
        <li class="menu__item"><a href="/api-hotel/contact">Liên hệ</a></li>
        <div class="user--icon">
            <a class="account" href="/api-hotel/user" ><i class="fa-solid fa-user item__icon"></i></a>
            <ul class="setting">
                <li><a href="/api-hotel/user"><i class="fa-solid fa-gear"></i>Xem thông tin cá nhân</a></li>
                <li><a href="/api-hotel/log-out"><i class="fa-solid fa-arrow-right-from-bracket"></i>Đăng xuất</a></li>
            </ul>
        </div>
    </ul>
    
</div>
<%- include("background_header") %>