<link rel="stylesheet" href="../../styles/css/toast.css">

<h1>Jquery Toast Plugin</h1>

<input id="error" type="button" value="Error!"/>
<input id="success" type="button" value="Success!" />
<input id="info" type="button" value="Info!" />
<input id="warning" type="button" value="Warning!" />

<script src="./toast.js">
    
</script>